<mat-toolbar>
  <mat-toolbar-row>
    <span><a routerLink="/"><img alt="Dinawik Logo" src="http://dinawik.com/old_site/Imagez/DinawikText.png"></a></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Simple Example of File Manager with WYSIWYG Editor on MEAN Stack</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-actions>
    <a mat-raised-button routerLink="/file-list">File List</a>
    <a mat-raised-button routerLink="/file-upload">File Upload</a>
    <a mat-raised-button routerLink="/wysiwyg-editor">WYSIWYG Editor</a>
  </mat-card-actions>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
